.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}


.title-detail{
    text-align: center;
}
.pokedetails {
    width: screen;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 1rem 1rem 0 0;
}

.name-detail {
    align-self: flex-start;
    text-transform: capitalize;
    font-size: 2rem;
    color: #fff;
    margin-bottom: .25rem;
}

.types-detail {
    list-style: none;
    color: white;
    text-transform: capitalize;
    padding: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.types-detail li {
    border-radius: 1rem;
}

.pokedetails .detail img {
    max-width: 100%;
    height: 140px;
    position: relative;
    bottom: -30px;
}

.obs-detail {
    background-color: #FFF;
    border-radius: 1rem;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.abilities-detail {
    list-style: none;
    text-transform: capitalize;
    padding: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    color: white;
}

.abilities-detail li {
    margin-bottom: 8px ;
}

.stats li {
    border-radius: 1rem;
    padding: 0px 6px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 1.5rem;
    text-transform: capitalize;
}

.hp {
    background-color: red;
    align-self: flex-start;
    width: 50%;
}

.attack {
    background-color: orange;
    min-width: 50%;
    align-self: flex-start;
}

.defense {
    background-color: green;
    min-width: 50%;
    align-self: flex-start;
}

.special-attack {
    background-color: rgb(255, 102, 0);
    min-width: 50%;
    align-self: flex-start;
}

.special-defense {
    background-color: rgb(92, 85, 156);
    min-width: 50%;
    align-self: flex-start;
}

.speed {
    background-color: rgb(12, 228, 138);
    min-width: 50%;
    align-self: flex-start;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}